//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends controller_layout

block content
  h1!= title

  h2
    私有网络零信任安全连接工具

  if error
     b #{error}
  else
    h4 控制器ID： <b>#{zt_status.address}</b>
    h4 基础版本： <b>#{zt_status.version}</b>
